:root {
    --vermelhoNetflix: #e50914;
    --fundo: #000000;
    --texto: #ffffff;
    --textoSecundario: #b3b3b3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fundo);
    color: var(--texto);
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    font-size: 30px;
    color: var(--vermelhoNetflix);
    letter-spacing: 3px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

input {
    width: 100%;
    max-width: 400px;
    height: 50px;
    background-color: #171717;
    color: var(--texto);
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder {
    color: var(--textoSecundario);
}

button {
    width: 100%;
    max-width: 400px;
    height: 50px;
    background-color: var(--vermelhoNetflix);
    color: var(--texto);
    font-size: 20px;
    font-weight: 700;    
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

button:hover {
    background-color: #e6474f;
}

select {
    background-color: #171717;
    color: var(--texto);
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
}

h2 {
    font-size: 30px;
    font-weight:700;
    margin: 0 0 10px;
    color: var(--texto);
}

h3 {
    font-size: 20px;
    font-weight:700;
    margin: 0 0 15px;
    color: var(--texto);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

section p {
    font-size: 13px;
    color: var(--textoSecundario);
    line-height: 1.5;
    max-width: 400px;
}

footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer a {
    color: var(--textoSecundario);
    font-size: 14px;
    text-decoration: none;
}

footer p {
    color: var(--textoSecundario);
    font-size: 16px;
    margin: 0;
}

footer select {
    width: 120px;
}

@media (min-width: 768px) {
    header {
        padding: 10px 30px;
    }
    
    main{
        padding: 60px;
    }

    h2{
        font-size: 36px;

    }

    footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 60px;


}






}